In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn

df = pd.read_csv('data/salary.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207748 entries, 0 to 207747
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Employee_No  207748 non-null  int64
 1   FactorName   207748 non-null  object
 2   Amount       207748 non-null  float64
 3   month        207748 non-null  int64
 4   year         207748 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.9+ MB

In [6]:
df.describe()

         Employee_No        Amount          month           year
count  207748.000000  2.077480e+05  207748.000000  207748.000000
mean     1493.814545  9.774814e+03    2021.473766       6.745644
std       706.744015  2.470517e+04       0.581806       3.643491
min       347.000000  2.500000e-01    2020.000000       1.000000
25%       846.000000  1.000000e+02    2021.000000       3.000000
50%      1531.000000  7.800000e+02    2022.000000       7.000000
75%      2072.000000  8.320000e+03    2022.000000      10.000000
max      3045.000000  1.200000e+06    2022.000000      12.000000