In [89]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn

df = pd.read_csv('data/leaves.csv', usecols=[0,1], names=['Employee Code', 'Leave Date'])
df.head()

   Employee Code  Leave Date
0            579  2020-01-15
1            579  2020-01-10
2            579  2020-01-01
3            579  2020-03-17
4            579  2020-03-20

In [90]:
df.groupby('Employee Code')['Leave Date'].count()

Employee Code
347      64
348      29
351      69
352     124
354      86
       ...
2973      5
2990      1
3041      1
3043      1
3045      1
Name: Leave Date, Length: 1737, dtype: int64