In [91]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn

df = pd.read_csv('data/leaves.csv', usecols=[0,1], names=['Employee Code', 'Leave Date'])
df.head()

   Employee Code  Leave Date
0            579  2020-01-15
1            579  2020-01-10
2            579  2020-01-01
3            579  2020-03-17
4            579  2020-03-20

In [92]:
df.groupby('Employee Code')['Leave Date'].count()

Employee Code
347      64
348      29
351      69
352     124
354      86
       ...
2973      5
2990      1
3041      1
3043      1
3045      1
Name: Leave Date, Length: 1737, dtype: int64

              count unique         top freq
Employee Code
347              64     60  2020-01-29    5
348              29     29  2021-07-07    1
351              69     63  2022-01-29    2
352             124    124  2021-07-24    1
354              86     86  2021-07-28    1
...             ...    ...         ...  ...
2973              5      5  2022-12-08    1
2990              1      1  2022-12-17    1
3041              1      1  2022-12-30    1
3043              1      1  2022-12-19    1
3045              1      1  2022-12-24    1

[1737 rows x 4 columns]