In [103]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn

df_attendance = pd.read_csv('data/attendance.csv', parse_dates=['date', 'out_date'])
df_attendance = df_attendance.rename(columns={'employee_no': 'Employee_Code',
                                                'date': 'in_date'})
df_attendance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262907 entries, 0 to 262906
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             262907 non-null  int64
 1   project_code   262907 non-null  float64
 2   in_date        262907 non-null  datetime64[ns]
 3   out_date       262907 non-null  object
 4   Employee_Code  262907 non-null  int64
 5   in_time        262907 non-null  object
 6   out_time       262907 non-null  object
 7   Hourly_Time    262907 non-null  object
 8   Shift_Start    262907 non-null  object
 9   Shift_End      262907 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 20.1+ MB

/tmp/ipykernel_81196/961640916.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_attendance = pd.read_csv('data/attendance.csv', parse_dates=['date', 'out_date'])

In [104]:
df_attendance.describe()

                 id   project_code  Employee_Code
count  2.629070e+05  262907.000000  262907.000000
mean   1.642824e+06     177.960971    1444.199816
std    1.824696e+06     343.970578     733.964498
min    8.300000e+02       1.000000     347.000000
25%    5.221395e+05     179.200000     766.000000
50%    8.147770e+05     194.100000    1408.000000
75%    1.828590e+06     198.100000    2053.000000
max    7.233816e+06  123456.000000    3090.000000

In [105]:
start_time = pd.to_datetime('2020-02-01 00:00:00')
date_range = (df_attendance['in_date'] >= start_time)
df_attendance_clean = df_attendance.loc[date_range]
df_attendance_clean['in_date'].describe()

/tmp/ipykernel_81196/3274697379.py:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_attendance_clean['in_date'].describe()

count                  262847
unique                   1008
top       2022-01-11 00:00:00
freq                      570
first     2020-02-01 00:00:00
last      2103-08-19 00:00:00
Name: in_date, dtype: object