In [41]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn

df = pd.read_csv('data/leaves.csv', usecols=[0,1], names=["Employee Code", "Leave Date"])
df.head()

   Employee Code  Leave Date
0            579  2020-01-15
1            579  2020-01-10
2            579  2020-01-01
3            579  2020-03-17
4            579  2020-03-20

In [42]:
df.describe()

       Employee Code
count   75936.000000
mean     1598.699826
std       655.369906
min       347.000000
25%      1039.000000
50%      1685.000000
75%      2104.000000
max      3045.000000